<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Nearby Restaurants
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Restaurant Name</mat-label>
    <input matInput placeholder="Ex. Spicy Cafe" [(ngModel)]="data.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Offer</mat-label>
    <textarea matInput [(ngModel)]="data.offers"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Other Details</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label ngmo>Address</mat-label>
  <input matInput placeholder="Ex. Koteshwor" [(ngModel)]="data.address">
</mat-form-field>
</div>
<br>
<div class="a">
  <button mat-raised-button color="primary" (click)="onCreate()">ADD</button>
</div>