.horizontal-cards {
    margin-left: 80px;
    margin-right: 80px;
    ion-card {
        display: inline-block;
        width: 340px;
    }
}
ion-card:hover{
    animation: tapAnimation 0.5s ;
}
@keyframes tapAnimation {
    0% {
        opacity: 1;
        transform: scale(0.96); 
    }
    100% {
        opacity: 1;
        background: rgba(0,0,0,0.05);
        transform: scale(1);
    }
}

div.sticky {
    position: fixed;
    bottom: 60px;
    right: 18px;
    z-index: 9500;
    cursor: pointer;
  //   width: 24px;
    padding: 18px 18px 14px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.145s ease-out;
    -moz-transition: all 0.145s ease-out;
    -ms-transition: all 0.145s ease-out;
    transition: all 0.145s ease-out;
    text-transform: uppercase;
    background-color: #ff700a; 
    font-style: italic;
    color: white;
    }
    
    .sticky:hover{
        background-color: cadetblue;
    }
    