<ion-header>
	<app-header-guest></app-header-guest>
   </ion-header>
 <ion-content> <div class="mainmain">
	<div class="ion-content">
	<br>
	<app-guest-menu-details></app-guest-menu-details>
	<br>
  <br>
  <ion-label class="custom-label"> Events </ion-label>
  <br>
  <br>
<div class="content">
  <div class="horizontal-cards">
    <ion-card color="light" button="true" (click)="onClick(event)" *ngFor="let event of events">    
      <img [src]='event.image'> 
      <ion-card-header>
        <ion-card-title>{{event.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-subtitle>
        Date: {{event.event_from | date:'longDate'}}
      </ion-card-subtitle>
    <ion-card-content>Organized by: {{event.club.name}}</ion-card-content>
    </ion-card>  
  </div>
</div>
</div>
<br>
<div class="sticky" (click)="clickAllClubs()">
  See all Clubs -->
 </div></div>
</ion-content>
