<ion-header>
 <app-header-guest></app-header-guest>
</ion-header>
<br>
<ion-content><div class="mainmain">
 <div class="ion-content">
 <br>
 <app-guest-menu-details></app-guest-menu-details>
 <br>
 <br>
 <ion-label class="custom-label" *ngIf="data">{{data.name}}</ion-label>
 <br>
 <br>
<div class="content">
 <ion-fab vertical="center" horizontal="start" slot="fixed" [routerLink]="['/courses-guest']">
   <ion-fab-button>
     <ion-icon name="arrow-back-circle"></ion-icon>
   </ion-fab-button>
 </ion-fab>
 <img src="assets/images/aboutUS.jpg" alt="Paris" class="center">
 <br>
 <ion-label>
   <div class="information" *ngIf="data">
     <p>
       {{data.description}}
     </p>
   </div>
 </ion-label>
</div>
</div><br></div>
</ion-content>