<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Student Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<div>

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="data.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Level</ion-label>
    <ion-input placeholder="4, 5 or 6" type="number" [(ngModel)]="data.student_level"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input placeholder="student@example.com" type="email" [(ngModel)]="data.email" [disabled]="editData"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input placeholder="********" type="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea placeholder="About Student" [(ngModel)]="data.description"></ion-textarea>
  </ion-item>


  <ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="majorStudent.major_id">
        <ion-list-header>Major</ion-list-header>
        <ion-item *ngFor="let major of majors">
          <ion-label>{{major.name}}</ion-label>
          <ion-radio slot="start" [value]="major.id" [disabled]="editData"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item>



  <ion-button *ngIf="!editData" (click)="onCreate()">Add Student</ion-button>
  <ion-button *ngIf="editData" (click)="onEdit()">Edit Student</ion-button>

</div>
  
