<div class="horizontal-cards">

  <ion-card *ngFor="let club of clubs" color="light" button="true" (click)="onClick(club)">    
    <img [src] = "club.image">
    <ion-card-header>
      <ion-card-title><h1>{{club.name}}</h1></ion-card-title>
    </ion-card-header>
    <ion-card-subtitle>
      <ion-label><strong>President: </strong>{{club.president.name}}</ion-label><br>
      <ion-label><strong>Vice President: </strong>{{club.vice_president.name}}</ion-label>
    </ion-card-subtitle>
  </ion-card>

</div>
<div class="sticky" (click)="clickSeeAllEvents()">
  See All Club Events --> 
   </div>