.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.refund{
    margin-right: 60px;
    margin-left: 60px;
}
ion-label{
    font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: #919899;
}