<ion-header>
  <app-guest-menu-details></app-guest-menu-details>
  <div style="width:100%; height:40px;background-image: linear-gradient(to right, black , white);text-align: center;">
   <h2 style="color: white;">Fee Structure</h2>
  </div>
 </ion-header>
 <br>

<ion-content>
  <img src="assets/images/aboutUS.jpg" alt="Paris" class="center">
  <br>
  <ion-label>
    <div class="refund">
    (*Fees once paid will not be refunded under any circumstances. Security deposit made by students will not be liable to be returned if a student discontinues his/her academic pursuit before the course completion. For students successfully completing the course, the security deposit amount will be returned at the end of the course.)
  </div>
  </ion-label>
</ion-content>
