<ion-header>
 <app-header-guest></app-header-guest>
 </ion-header>
 
 <ion-content><div class="mainmain">
	<div class="ion-content">
	<br>
	<app-guest-menu-details></app-guest-menu-details>
	<br>
  <br>
  <ion-label class="custom-label"> Fee Structure </ion-label>
  <br>
  <br>
<div class="content"> 
   <img [src]="data.image" alt="Fee Structure" *ngIf="data" class="center">
  <br>
  <ion-label>
    <div class="refund">
    (*Fees once paid will not be refunded under any circumstances. Security deposit made by students will not be liable to be returned if a student discontinues his/her academic pursuit before the course completion. For students successfully completing the course, the security deposit amount will be returned at the end of the course.)
  </div>
  </ion-label>
</div>
</div>
<div class="sticky" (click)="clickScholarshipDetails()">
  Scholarship Details -->
 </div><br></div>
</ion-content>
