<ion-content>
<div class="horizontal-cards">

  <ion-card color="light" button="true" (click)="clickUnitDetails(myunit)" *ngFor="let myunit of myunits">    
    <img [src]="myunit.image"> 
    <ion-card-header>
      <ion-card-title>{{myunit.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</div>

  <hr>

<ion-label>All Units: </ion-label>
<div class="horizontal-cards">

  <ion-card color="light" button="true" (click)="clickUnitDetails(unit)" *ngFor="let unit of units">    
    <img [src]="unit.image"> 
    <ion-card-header>
      <ion-card-title>{{unit.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</div>

  


  <div class="sticky" (click)="clickOurTeam()">
    See all Faculty ->
   </div>
</ion-content>
