<ion-header>
  <app-header-guest></app-header-guest>
</ion-header>
<ion-content><div class="mainmain">
<div class="ion-content">
<br>
<app-guest-menu-details></app-guest-menu-details>
<br>
<br>
<ion-label class="custom-label"> ECA </ion-label>
<br>
<br>
<div class="content">
  <div class="horizontal-cards">
    <ion-card *ngFor="let eca of ecas" color="light" button="true" (click)="onClick(eca)">    
      <img [src]="eca.image"> 
      <ion-card-header>
        <ion-card-title>{{eca.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <strong>Incharge: </strong>{{eca.incharge.name}}
      </ion-card-content>
    </ion-card>    
  </div>
  </div>
</div><br></div>
  </ion-content>
