<div class="split left">
 
  <ion-header id="header">
    <ion-toolbar class="custom-header">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Notice</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen>
  <ion-card color="light" *ngFor="let notice of notices">
    <ion-card-header>      
      <ion-card-title>{{notice.name}}</ion-card-title>
      <ion-card-subtitle>Notice By: {{notice.author}}</ion-card-subtitle>
    </ion-card-header>  
    <ion-card-content>{{notice.content}}</ion-card-content>
  </ion-card>
</ion-content>

</div> 

<div class="split right">

<ion-header id="header">
<ion-toolbar class="custom-header">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Your Profile</ion-title>
</ion-toolbar>
</ion-header>
<ion-content *ngIf="student" fullscreen>
<ion-grid>
  <ion-col style="display:flex; justify-content: center;">
    <ion-row>
      <ion-avatar class="prof">
        <img [src]='student.image'>
      </ion-avatar>
    </ion-row>
  </ion-col>
</ion-grid>
<ion-item-divider color="primary">
  <ion-grid >
    <ion-row>
      <ion-col class="namelbl">
        <div>Name:</div>
      </ion-col>
      <ion-col class="namefield">{{student.name}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="phonelbl">
        <div>Level:</div>
      </ion-col>
      <ion-col class="phonefield"> {{student.level}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="namelbl">
        <div>Email:</div>
      </ion-col>
      <ion-col  class="namefield"> {{student.email}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="namelbl">
        <div>Description:</div>
      </ion-col>
      <ion-col class="namefield"> {{student.about}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item-divider>
<br>

<h2>Major: </h2>
<ion-card color="light">
  <!-- <img [src]='student.major.info.image'> -->
  <ion-card-header>
    <ion-card-title>
      {{student.major.info.name}}
    </ion-card-title>
  </ion-card-header>
</ion-card>

<h2>Units:</h2>
<div scrollY="true" id="scrollable">
  <ion-card *ngFor="let unit of units "(click)="clickUnits()">
    <!-- <img [src]="unit.image"> -->
    <ion-card-header>
      <ion-card-title>
        {{unit.name}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let unit of units "(click)="clickUnits()">
    <!-- <img [src]="unit.image"> -->
    <ion-card-header>
      <ion-card-title>
        {{unit.name}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

<h2>Events:</h2>
<div scrollY="true" id="scrollable" *ngIf="student.events">
  <ion-card *ngFor="let event of student.events ">
    <!-- <img [src]="event.info.image"> -->
    <ion-card-header>
      <ion-card-title>
        {{event.info.name}}<br><ion-button color="danger" (click)="unbook(event)">Cancel Booking</ion-button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

<h2>Clubs:</h2>
<div scrollY="true" id="scrollable" *ngIf="student.clubs">
  <ion-card *ngFor="let club of student.clubs ">
    <!-- <img [src]="event.info.image"> -->
    <ion-card-header>
      <ion-card-title>
        {{club.info.name}}<br><ion-button color="danger" (click)='unmember(club)'>Cancel Membership</ion-button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<ion-item>
  <ion-button (click)="openFeedback()">Post Anonymous Feedback</ion-button>
</ion-item>
<br><br><br><br><br><br>
</ion-content>

</div>
