<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Unit</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Credit</ion-label>
    <ion-input placeholder="Credit Ex. 10, 20, 30" type="number" [(ngModel)]="data.credit"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea placeholder="Unit description" [(ngModel)]="data.description"></ion-textarea>
  </ion-item>


  <ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="data.leader">
        <ion-list-header>Unit Leader</ion-list-header>
        <ion-item *ngFor="let faculty of faculties">
          <ion-label>{{faculty.name}}</ion-label>
          <ion-radio slot="start" [value]="faculty.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item>

  <ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="data.major">
        <ion-list-header>Major</ion-list-header>
        <ion-item *ngFor="let major of majors">
          <ion-label>{{major.name}}</ion-label>
          <ion-radio slot="start" [value]="major.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item>



  <ion-button *ngIf="!editData" (click)="onCreate()">Add Unit</ion-button>
  <ion-button *ngIf="editData" (click)="onEdit()">Edit Unit</ion-button>

</div>
