.content p img {
    float:left;
    width:370px;
  height:370px;
  margin-right:15px;
  margin-left:20px;
  }
  
  p{
    margin-left: 30px;
    margin-right: 30px;
  }
  ion-label{
    font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #919899;
  }