<ion-header>
	<app-header-guest></app-header-guest>
   </ion-header>

   <ion-content><div class="mainmain">
    <div class="ion-content">
    <br>
    <app-guest-menu-details></app-guest-menu-details>
    <br>
    <br>
  <div class="content" *ngIf="major">
    <ion-fab vertical="center" horizontal="start" slot="fixed" [routerLink]="['/courses-guest']">
      <ion-fab-button>
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <p>
      <img [src]="major.image" alt="University">
      <ion-label style="font: Raleway;">
        <h1>{{major.name}}</h1>
        <h2><strong>Major Head: </strong>{{major.head.name}}</h2>
        <p>{{major.description}}</p>
      </ion-label>
      </p>
    </div>
  </div></div>
  </ion-content>
  
