<ion-header>
  <app-header-guest></app-header-guest>
   </ion-header>
 <ion-content><div class="mainmain">
	<div class="ion-content">
	<br>
	<app-guest-menu-details></app-guest-menu-details>
	<br>
  <br>
  <ion-label class="custom-label"> Student Life and Support </ion-label>
  <br>
  <br>
<div class="content">
    <div class="horizontal-cards">
      <ion-card color="light">    
        <img src = "assets/images/aboutUS.jpg"> 
        <ion-card-header>
          <ion-card-title><h1>BREO</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Canteen with tons of menu.
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
      <ion-card color="light">    
        <img src = "assets/images/aboutUS.jpg"> 
        <ion-card-header>
          <ion-card-title><h1>PCPS Portal</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Canteen with tons of menu.
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
      <ion-card color="light">    
        <img src = "assets/images/aboutUS.jpg"> 
        <ion-card-header>
          <ion-card-title><h1>Proquest</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Canteen with tons of menu.
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card><ion-card color="light">    
        <img src = "assets/images/aboutUS.jpg"> 
        <ion-card-header>
          <ion-card-title><h1>University Materials</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Canteen with tons of menu.
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
    </div>
  </div>
</div>  
<div class="sticky" (click)="clickAlumniStories()">
  Alumni Stories -->
 </div> <br></div>
</ion-content>
