<ion-header>
	<ion-toolbar class="custom-toolbar">
		<ion-fab vertical="top">
			<ion-fab-button> Contact</ion-fab-button>
			<ion-fab-list side="end">
			  <ion-fab-button>
			  <ion-icon name="logo-facebook"></ion-icon>
			  </ion-fab-button>
			  <ion-fab-button>
			  <ion-icon name="logo-instagram"></ion-icon>
			  </ion-fab-button>
			  <ion-fab-button>
			  <ion-icon name="logo-linkedin"></ion-icon>
			  </ion-fab-button>
			</ion-fab-list>
			</ion-fab>
		
		<ion-buttons slot="start" style="color: white;">
			<ion-button  (click)="clickHome()">
				<ion-icon name="home">
				</ion-icon>
			</ion-button>
	</ion-buttons>
	<ion-buttons slot="end" style="color: white;">
			<ion-button (click)="clickLogin()">
				<ion-icon name="person-circle-outline">
				</ion-icon>
				<ion-label>. Sign In</ion-label>
			</ion-button>
		</ion-buttons>
		<ion-title style="text-align: center; color: white;">
    #Learn2lead		
</ion-title>
	</ion-toolbar>
   </ion-header>