<ion-split-pane contentId="content">
  <ion-menu contentId="content">


    <ion-content>
      
      <ion-list id="inbox-list">
        <ion-list-header>PCPS Student Portal</ion-list-header>
        <ion-note>WELCOME</ion-note>
          <!-- list elements -->
        <ion-menu-toggle auto-hide="false" *ngFor="let p of studentPages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-item tappable (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
<!-- <app-dashboard></app-dashboard> -->


