<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title style="color: white; text-align: center;">Faculties</ion-title>
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontal-cards">

    <ion-card *ngFor="let faculty of faculties" color="light" button="true" (click)="onClick(faculty)">    
      <img [src]="faculty.image"> 
      <ion-card-header>
        <ion-card-title>{{faculty.name}}</ion-card-title>
        <ion-card-subtitle>
          {{faculty.title}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <strong>Type: </strong>{{faculty.type}}<br>
        <strong>Department:</strong>{{faculty.departments.info.name}}
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
