img {
    float:left;
    border-radius: 50px;
}
p{
    margin-left:60px;
    margin-right:60px;
}
ion-label{
    font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #919899;
  }