<ion-header>
	<app-guest-menu-details></app-guest-menu-details>
	<div style="width:100%; height:40px;background-image: linear-gradient(to right, black , white);text-align: center;">
	 <h2 style="color: white;">About Us</h2>
	</div>
   </ion-header>
   <br>
<ion-content>
	<p><img src="assets/images/aboutUS.jpg" alt="University" style="width:370px;height:370px;margin-right:15px;margin-left:20px;">
		<ion-label style="font: Raleway;"><h1 style="font-size: medium;color: black;font-weight: bold;"> I PATAN COLLEGE FOR PROFESSIONAL STUDIES</h1>
			Patan College for Professional Studies (PCPS) is a constituent member of LBEF Group of Institutions (Lord Buddha Education Foundation). 
			LBEF has a long standing history in the field of education and academics in Nepal, 
			being established in 1998 as the first IT College in Nepal. 
			More than 7000 students have over the years graduated from LBEF Group of Institutions and today, 
			have established their career as bankers, IT experts, entrepreneurs, managers, 
			leaders in their chosen area of work.
			<br><br>
			<p>I ABOUT OUR JOURNEY</p>
			The inception of Patan College (PCPS) began with a simple thought of social cause of providing 
			an exposure to a globally accredited degree from a renowned United Kingdom (UK) 
			based university to all Nepal and neighbourhood citizens. 
			This initial thought was put into motion by launching an exhaustive research on UK 
			based Universities and our sincere efforts led us on to the University of Bedfordshire (UoB), 
			with over a hundred years of experience as a quality education provider in the UK. PCPS is, 
			now, one of the among other educational institutions in Nepal who offer and deliver UK 
			degrees for various undergraduate and graduate level courses.</ion-label>
		</p>
</ion-content>
