img {
  float:left;
}

p{
  margin-left: 60px;
  margin-right: 60px;
}
ion-label{
  font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: #919899;
}

#footer {
  padding: 4em 0;
}

  #footer .copyright li {
      border-left: 0;
      display: block;
      line-height: 2em;
      margin-left: 0;
      padding-left: 0;
  }
  #footer {
background: #f0f0f0;
padding: 4em 0 6em 0;
text-align: center;
}

#footer .icons a {
-moz-transition: opacity 0.2s ease-in-out;
-webkit-transition: opacity 0.2s ease-in-out;
-ms-transition: opacity 0.2s ease-in-out;
transition: opacity 0.2s ease-in-out;
opacity: 0.35;
}

#footer .icons a:hover {
  opacity: 0.75;
}

#footer .copyright {
color: #999;
font-size: 0.9em;
line-height: 1em;
margin: 2em 0 0 0;
padding: 0;
text-align: center;
}

#footer .copyright a {
  color: inherit;
}

#footer .copyright li {
  border-left: solid 1px #dddddd;
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
}

  #footer .copyright li:first-child {
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
  }