<!-- <ion-header>
 
</ion-header>

<ion-content>
  <div class="split toptop">
    <div class="centeredtop"> 
      <div class="centeredtoptop">
    <img src="assets/images/Join.png"> </div> 
    </div>
  </div>
<br>
  <div class="split top">
    <div class="centered">  
    <div class="centeredaaa">
     About Us
     </div>
     <div class="centeredb">
      <img src="assets/images/aboutUs.png">
     </div>
    </div>
  </div>
 
  <div class="split bottom">
    <div class="centered">
      <div class="centeredx">
        <p> phaha </p>
       </div>
       <div class="centeredy">
         haha
        </div>
    </div>
  </div>

  <div class="split topa">
    <div class="centered">  
    <div class="centereda">
      haha
     </div>
     <div class="centeredb">
      <img src="assets/images/profileBack1.png">
     </div>
    </div>
  </div>
  
  <div class="split bottom">
    <div class="centered">
      <div class="centeredx">
        <p> phaha </p>
       </div>
       <div class="centeredy">
         haha
        </div>
    </div>
  </div>
  
  <div class="split topa">
    <div class="centered">  
    <div class="centereda">
      haha
     </div>
     <div class="centeredb">
      <img src="assets/images/profileBack1.png">
     </div>
    </div>
  </div>

  <div class="footer">
   <img src="assets/images/footer.png" >
  </div>
</ion-content> -->

<ion-header>

</ion-header>
<ion-content>
  <body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1>PATAN COLLEGE FOR PROFESSIONAL STUDIES</h1>
					<nav id="nav">
						<ul>
							<li>Home</li>
							<li>
								<a href="#" class="icon solid fa-angle-down">EXPLORE</a>
								<ul>
									<li><a href="#">Generic</a></li>
									<li><a href="#">Contact </a></li>
									<li><a href="#">Elements </a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button">Sign In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>PCPS College</h2>
					<p>#learn2lead</p>
					<ul class="actions special">
						<li><a href="#" class="button primary">Take a Tour</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>PCPS is a constituent member of
			<br>
							LBEF Group of Institutions (Lord Buddha Education Foundation).</h2>
							<br>
							<p>LBEF has a long standing history in the field of education and academics in Nepal, 
								being established in 1998 as the first IT College in Nepal. 
								More than 7000 students have over the years graduated from LBEF Group of Institutions and today,
								 have established their career as bankers, IT experts, 
								 entrepreneurs, managers, leaders in their chosen area of work.</p>
						</header>
						<span class="image featured"><img src="assets/images/aboutUS.jpg" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-bolt accent2"></span>
								<h3>Recognition</h3>
								<p>We have been approved by Ministry of Education, Nepal Government to run the courses from University of Bedfordshire , UK. We have also received institutional recognition from Tribhuvan University, Nepal.</p>
							</section>
							<br>
							<section>
								<span class="icon solid major fa-chart-area accent3"></span>
								<h3>World Class Infrastructure</h3>
								<p>Patan College for Professional Studies is equipped with state of art infrastructural facilities. The spacious classrooms, computer labs, Presentation Room, Seminar Hall, rich library, wifi-enable campus shall leave fond memories of sustainability alongside knowledge creation.</p>
							</section>
						</div>
					</section>
						<br>
				

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="assets/images/SE.jpg" alt="" /></span>
								<h3>BSc. CS&SE</h3>
								<p>Computer Science & Software Engineering is at the core of modern technology and at the heart of a number of specialist technology fields. B.Sc Computer Science & Software Engineering course is aimed at providing 
									a foundation as well as a platform for specialist study in the second and third stages, 
									during which you will learn in depth, 
									the principles and practices of both disciplines computer science and software engineering.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="assets/images/BBA.jpg" alt="" /></span>
								<h3>BBA</h3>
								<p>Business Administration is targeted towards achieving both practical skills and conceptual understanding required for administration and management functions within a host of organizations. 
									All the basic functional areas that are deemed to comprise the business discipline – Marketing, Operations, Information Systems, Finance, HRM, Business Policy and Strategy and Change, Economics, 
									Law and Contemporary Issues – are examined over the duration of the course and in the context of contemporary change.
								</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>
					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-cloud accent4"></span>
								<h3>Kejriwal</h3>
								<p>Founder he says this this this</p>
							</section>
							<br>
							<section>
								<span class="icon solid major fa-lock accent5"></span>
								<h3>Pankaj Jalan</h3>
								<p>He says this that this</p>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="assets/images/contact.jpg" alt=""/></span>
								<h3>Your First Point of Contact</h3>
								<p>Visit Downloads Section to get our Brochures, Prospectus and other information.
									Ms. Richu Chitrakar, our admission officer, can help you with your further queries. Reach her at +977-1-5181033 / 5181198
									</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Request More Info</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="assets/images/eventshappening.jpg" alt="" /></span>
								<h3>Latest Stories</h3>
								<p>We make you you have best campus experience with series of interesting and informative events</p>
								<ul class="actions special">
									<li><a href="#" class="button alt" style="background-color: #b0160b">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

					

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2> NEWSLETTER </h2>
					<p>Enter your email and we'll send you more information of courses and scholarship.</p>

					<form>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; COPYRIGHT © 2020 PCPS COLLEGE</li><li>Design: Aastha and Bidwat :p</li>
					</ul>
				</footer>

    </div>
    </body>
</ion-content>