<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Library Services
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Service Name</mat-label>
    <input matInput placeholder="Ex. Nougat" [(ngModel)]="data.name">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Detailed Information</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  </div>
  <br>
<div class="a">
  <button mat-raised-button color="primary" (click)="onCreate()">ADD</button>
</div>
