<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Menu Items
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label type="stacked">Name: </ion-label>
  <ion-input placeholder="food name" [(ngModel)]="data.name"></ion-input>
</ion-item>
<ion-item>
  <ion-label type="stacked">Price: </ion-label>
  <ion-input placeholder="food Price" type="number" [(ngModel)]="data.price"></ion-input>
</ion-item>
<ion-item>
  <ion-label type="stacked">Descripton: </ion-label>
  <ion-textarea placeholder="Food Description" type="number" [(ngModel)]="data.description"></ion-textarea>
</ion-item>
<ion-button (click)="onCreate()">Add Item</ion-button>
