// .container {
//     width:60%; 
//     height:300px;
// }

// img{
//     width:100%; 
//     height:100%; 
//     object-fit: cover;
// }

.centered{
        height: 380px;
    }
    .top {
            background-color: white;
        }

        .centeredb{
                background-color: red;
                border-radius: 20px;
                height: 340px;
                position: absolute;
               margin-top:22px;
               width: 32%;
               margin-left: 58%;
               text-align: center;
               margin-bottom:22px;
               transition: transform .2s;
            }
            .centeredb:hover{
                    -ms-transform: scale(1.05); /* IE 9 */
                    -webkit-transform: scale(1.05); /* Safari 3-8 */
                    transform: scale(1.05); 
                }

            .centeredb img{
                    border-radius: 20px;
                    height: 340px;
                    width:100%;
                }
                .centeredaaa{
                        border-radius: 20px;
                        height: 340px;
                        position: absolute;
                       margin-top:22px;
                       margin-bottom:22px;
                       width: 55%;
                       margin-right: 400px;
                       margin-left:20px;
                       background-color: #8c9091;
                    }