<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="food">
     {{food.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div *ngIf="food" style="width:500px;"><img [src]="food.image" style="width:170px;margin-right:15px;">
<ion-label><strong>Price: </strong>Rs.{{food.price}}</ion-label><br>
<p><strong>Description: </strong>{{food.description}}</p>
<p *ngIf="food.available== '0'"><strong>Available: </strong>No</p>
<p *ngIf="food.available== '1'"><strong>Available: </strong>Yes</p>
</div>