<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clubs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="container">
    <ion-row>
      <ion-col col-6>
        <ion-card>
          <ion-item href="#" class="ion-activated">
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-card-title>ClubName</ion-card-title>
            <ion-card-content>
              ClubContent <working class=""></working>
            </ion-card-content>
        </ion-item>
      </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card (click)="ClubDetails()">
          <ion-item href="#">
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-card-title>ClubName</ion-card-title>
            <ion-card-content>
              ClubContent <working class=""></working>
            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card>
          <ion-item href="#">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-card-title>{{ClubName}}</ion-card-title>
            <ion-card-content>
              {{ClubContent}}<working class=""></working>
            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


</ion-content>