<ion-content>
  <br>
  <div class="box" *ngFor="let rest of restaurants">
    <div class="images">
      <img [src]="rest.image" style="float: left;">
    </div>
    <div class="description">
      <h1 style="font-style: italic;">{{rest.name}}</h1><br><br>
      <ion-label><strong>Offers: </strong>{{rest.offer}}</ion-label><br>
      <ion-label><strong>Address: </strong>{{rest.address}}</ion-label><br>
      <ion-label><strong>Description: </strong>{{rest.description}}</ion-label>
    </div>
  </div>
</ion-content>
