.images .welcome{
    display: inline;
  }
img{
    border-radius: 50px;
    width:160px;
    height:160px;
margin-right: 20px;
margin-left: 20px; 
margin-top: 20px; 

 }
  .description{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .box{
      border: yellowgreen;
      border-radius: 20px;
      background-color: whitesmoke;
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
  }