<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Assessment Info 
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label> Assessment Title</mat-label>
    <input matInput placeholder="Ex. Hello Title" [(ngModel)]="data.title">
  </mat-form-field>

  <mat-form-field align="start" hintLabel="Max 3 characters" appearance="fill" >
    <mat-label>Total Marks</mat-label>
    <input matInput  #input 
    maxlength="3"  
    placeholder="Ex. 100" 
    type="number"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  
    (keypress)="numericOnly($event)" [(ngModel)]="data.marks">
    <mat-hint align="end">{{input.value?.length || 0}}/3</mat-hint>
  </mat-form-field>
<br>
<br>
<mat-form-field appearance="fill">
  <mat-label>Unit</mat-label>
  <mat-select [(ngModel)]="data.unit">
    <mat-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label >Assessment Description (Brief)</mat-label>
  <textarea matInput [(ngModel)]="data.description"></textarea>
</mat-form-field>

</div>
<br>
<div class="button-row">
  <button mat-raised-button color="primary" *ngIf="!editData" (click)="onCreate()">ADD</button>
  <button mat-raised-button color="primary" *ngIf="editData" (click)="onEdit()">EDIT</button>
</div>


