.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

 button-row {
    display: table-cell;
  }
  
 button-row button {
    display: table-cell;
    margin-right: 55px;
  }