<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Event Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="search-div">
  <button slot= "start" mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="eventId">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Event Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Event Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventAbout">
      <mat-header-cell *matHeaderCellDef mat-sort-header>About</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventFrom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.event_from | date:'longDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventTo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.event_to | date: 'longDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventNoOfSeats">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No of Seats</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.event_no_of_seats}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="club">
      <mat-header-cell *matHeaderCellDef>Club</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.club.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventImage">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let element"><img [src]="element.image"><br>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="editImage">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Edit Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input type="file" (change)="onFileSelected($event, element.id)"><br>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="approval">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Approval</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button style="color: green;" *ngIf=" element.event_approval == '0' " (click)="show(element.id)">Show</button>
        <button style="color: red;" *ngIf=" element.event_approval == '1' " (click)="hide(element.id)">Hide</button>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit()"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete()"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

</div>
</ion-content>