<ion-header>
<app-header-guest></app-header-guest>
   </ion-header>
 <ion-content><div class="mainmain">
	<div class="ion-content">
	<br>
	<app-guest-menu-details></app-guest-menu-details>
	<br>
  <br>
  <ion-label class="custom-label"> Courses </ion-label>
  <br>
  <br>
<div class="content">
    <div class="horizontal-cards">
      <ion-card color="light" *ngFor="let major of majors" (click)="detail(major)">    
        <img [src]="major.image"> 
        <ion-card-header>
          <ion-card-title><h1>{{major.name}}</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label><strong>Head: </strong> {{major.head.name}}
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
    </div>   
</div>
</div>
<div class="sticky" (click)="clickAdmissionDetails()">
  Admission Procedure -->
 </div>
 <br></div>
</ion-content>
