<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Club Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Club Name</mat-label>
    <input matInput placeholder="Ex. Social Club">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Detailed Information</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>President Name</mat-label>
    <input matInput placeholder="Ex. Brad Henderson">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Vice President Name</mat-label>
    <input matInput placeholder="Ex. Max Bowell">
  </mat-form-field>
  </div>
  <div class="a">
    <button mat-raised-button color="primary">ADD</button>
</div>

