<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Club Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<div>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea placeholder="Description" [(ngModel)]="data.description"></ion-textarea>
  </ion-item>


  <ion-item>
    <label for="president">President:</label>
    <select name="president" id="president" [(ngModel)]="data.president">
      <option *ngFor="let student of students" [value]="student.id">{{student.name}}</option>
    </select>
  </ion-item>

  <ion-item>
    <label for="president">Vice President:</label>
    <select name="vice_president" id="vice_president" [(ngModel)]="data.vice_president">
      <option *ngFor="let student of students" [value]="student.id">{{student.name}}</option>
    </select>
  </ion-item>


  <ion-button (click)="onCreate()">Add Club</ion-button>


</div>
