<ion-header>
  <app-guest-menu-details></app-guest-menu-details>
  <div style="width:100%; height:40px;background-image: linear-gradient(to right, black , white);text-align: center;">
   <h2 style="color: white;">Messages </h2>
  </div>
 </ion-header>
 <br>
<ion-content>
  <ion-content>
    <div class="horizontal-cards">
      <ion-card color="light" button="true" (click)="onClick()">    
        <img src = "assets/images/aboutUS.jpg"> 
        <ion-card-header>
          <ion-card-title><h1>Name</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Education is this. so we decided this and PCps formed. we focus in this and that.
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
    </div>
  </ion-content>
</ion-content>
