<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;text-align: center;">Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="request()">Request an event</ion-button>
    <div class="horizontal-cards" *ngFor="let event of events">

      <ion-card color="light" button="true" (click)="onClick(event)">    
        <img [src]='event.image'> 
        <ion-card-header>
          <ion-card-title>{{event.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          Date: {{event.event_from | date:'longDate'}}
        </ion-card-subtitle>
      <ion-card-content>Organized by: {{event.club.name}}</ion-card-content>
      </ion-card>
    
    </div>

  <div class="sticky" (click)="clickAllEvents()">
  See All Events -->
  </div>
</ion-content>
