<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;text-align: center;">Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="horizontal-cards">

      <ion-card color="light" button="true" (click)="onClick()">    
        <img src = "assets/clubs.png"> 
        <ion-card-header>
          <ion-card-title><h1>HAHA</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>It Works</ion-label><br>
          <ion-label>Yipppeeee!!!!</ion-label>
        </ion-card-subtitle>
      </ion-card>
    
    </div>
  </ion-content>

</ion-content>
