.horizontal-cards {
    ion-card {
        display: inline-block;
        width: 265px;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 27px;
        margin-bottom: 20px;
        
    }
}
ion-card:hover{
    animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34,1) forwards;
}
@keyframes tapAnimation {
    0% {
        opacity: 1;
        transform: scale(0.96); 
    }
    100% {
        opacity: 1;
        background: rgba(0,0,0,0.05);
        transform: scale(1);
    }
}