  <br>
  <div class="box">
  <div class="images">
    <img src="assets/images/aboutUS.jpg" style="float: left;">
  </div>
    <div class="description">
  <h1 style="font-style: italic;"> WELCOME</h1>
  <ion-label>o create a linear gradient you must define at least two color stops. Color stops are the colors you want to render smooth transitions among. You can also set a starting point and a direction (or an angle) along with the gradient effect.

    Syntax
    background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
    Linear Gradient - Top to Bottom (this is default)
    
    The following example shows a linear gradient that starts at the top. It starts red, transitioning to yellow:o create a linear gradient you must define at least two color stops. Color stops are the colors you want to render smooth transitions among. You can also set a starting point and a direction (or an angle) along with the gradient effect.

    Syntax
    background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
    Linear Gradient - Top to Bottom (this is default)
    
    The following example shows a linear gradient that starts at the top. It starts red, transitioning to yellow:</ion-label>
  </div>
</div>
