    .horizontal-cards {
      margin-left: 70px;
      margin-right: 70px;
      ion-card {
          display: inline-block;
          width: 270px;
          margin-top: 35px;
      }
  }
  ion-card-title{
      text-align: center;
  }
  ion-card-subtitle{
      text-align: center;
      margin-bottom: 30px;
  }
  ion-card:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); }

  img{
    border-radius: 240px;
    height: 120px;
    width: 120px;
    position: center;
    margin-left: 80px;
    margin-top: 30px;
  }
  ion-card{
    background-color: #ffeab8;
    border-radius: 40px;
    opacity: 0.7;
    transition: transform .2s;

  }
  .content{
    background:url(/assets/images/exploreGuest.jpg) 0 0/100% 100% no-repeat;
  }