<ion-header>
<app-header-guest></app-header-guest>
</ion-header>
<ion-content><div class="mainmain">
	<div class="ion-content">
	<br>
	<app-guest-menu-details></app-guest-menu-details>
	<br><br>
  <ion-label class="custom-label"> Explore Nearby </ion-label>
  <br><br>
  <div class="content">
    <div class="horizontal-cards">
      <ion-card color="light" (click)="nearbyRestaurant()">    
        <img src = "assets/images/nearbyRestaurants.png"> 
        <ion-card-header>
          <ion-card-title>Explore Nearby</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>RESTAURANTS
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
      <ion-card color="light" (click)="nearbyActivity()">    
        <img src = "assets/images/nearbyActivity.png"> 
        <ion-card-header>
          <ion-card-title>Explore Nearby</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>ACTIVITIES
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
      <ion-card color="light" (click)="nearbyBank()">    
        <img src = "assets/images/nearbybanks.png"> 
        <ion-card-header>
          <ion-card-title>Explore Nearby</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>BANKS
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
    </div>
  </div>
</div><br>  </div>
</ion-content> 