<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Events Reservation
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill" >
    <mat-label>Event ID</mat-label>
    <input matInput  #input  
    placeholder="Ex. 1442" 
    maxlength="10"
    type="number"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  
    (keypress)="numericOnly($event)">
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>Student ID</mat-label>
    <input matInput  #input 
    maxlength="10" 
    placeholder="Ex. 1452" 
    type="number"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  
    (keypress)="numericOnly($event)">
  </mat-form-field>
  <br>
  <mat-label>Paid: </mat-label>
  <mat-slide-toggle>Yes</mat-slide-toggle>
  </div>
  <br>
  <div class="a">
    <button mat-raised-button color="primary">ADD</button>
</div>
