<ion-header>
	
    <img src="assets/images/footer.png"> 
    <div class="dropback">
      <div class="dropdown">
      <button class="dropbtn" (click)="onClick()">Home</button>
      </div>
      <div class="dropdown">
      <button class="dropbtn" (click)="clickAboutUs()">About Us</button>
      <div class="dropdown-content">
      <a (click)="clickAboutUniversity()">About University</a>
      <a href="https://www.beds.ac.uk/">Explore University</a>
      <a (click)="clickRecognitions()">Recognitions</a>      
      <a (click)="clickMessages()">Messages</a>
      <a (click)="clickInfrastructure()">Infrastructure</a>
      <a (click)="clickFacilities()">Facilities</a>
      <a (click)="clickOurTeam()">Our Team</a>
      </div>
      </div>
      <div class="dropdown">
      <button class="dropbtn">Student and Admission</button>
      <div class="dropdown-content">
      <a (click)="clickAlumniStories()">Alumni Stories</a>
      <a (click)="clickHolidaysList()">List of Holidays</a>
      <a (click)="clickIntakeCalender()">Intake Calendar</a>
      <a (click)="clickAdmissionProcedure()">Admission Procedure</a>
      <a (click)="clickFeeStructure()">Fee Structure and Refund Policy</a>
      <a (click)="clickScholarship()">Scholarship</a>
      <a (click)="clickStudentSupport()">Student Support</a>
      </div>
      </div>
      <div class="dropdown">
      <button class="dropbtn">Media</button>
      <div class="dropdown-content">
      <a (click)="clickEvents()">Events</a>
      <a (click)="clickEventsGallery()">Events Gallery</a>
      <a (click)="clickNews()">News</a>
      <a (click)="clickCanteen()">Canteen</a>
      </div>
      </div>
      <div class="dropdown">
      <button class="dropbtn" (click)="clickCourses()">Courses</button>
      </div>
      </div>
     <div class="differentpages">
     </div>

  </ion-header>