.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom right, #1d273d, #8bade0);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    z-index:1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
display: block;  
}
  
  .dropdown-content a:hover {background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background: linear-gradient(to bottom right, #8bade0,#1d273d );
  }
  .dropback {
  width: 100%;
  max-height:60px;
  background: linear-gradient(to bottom right, #1d273d, #8bade0);
  }
  ion-header img{
    height:60px;
    width:100%;
  }