    <div class="parent">
      <div class="child">
    <div class="scrollmenu">
      
        <button>
          <img src="assets/images/exploreBack.png"> <br><br>
          <div class="menu">
            <ion-toolbar>
              <ion-buttons slot="start"> 
                <ion-button>
                <ion-icon name="business-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title  style="font-size: small;">Explore University</ion-title>
            </ion-toolbar>
        </div>
      </button>

          <button (click)="clickAboutUs()">
            <img src="assets/images/aboutUS.jpg"> 
            <br><br>
            <div class="menu">
            <ion-toolbar>
              <ion-buttons slot="start"> 
                <ion-button>
                  <ion-icon name="school-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title  style="font-size: small;">About Us</ion-title>
            </ion-toolbar>
          </div>
          </button>

            <button (click)="clickCourses()">
              <img src="assets/images/BBA.jpg"> <br><br>
              <div class="menu">
                <ion-toolbar>
                  <ion-buttons slot="start"> 
                    <ion-button>
                    <ion-icon name="pencil-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-title  style="font-size: small;">Courses</ion-title>
                </ion-toolbar>
            </div>
            </button>

              <button (click)="clickFeeStructure()">
                <img src="assets/images/loginBack.png"> <br><br>
                <div class="menu">
                <ion-toolbar>
                  <ion-buttons slot="start"> 
                    <ion-button>
                      <ion-icon name="cash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-title  style="font-size: small;">Fee Structure</ion-title>
                </ion-toolbar>
              </div>
              </button>

                <button (click)="clickStudentSupport()">
                  <img src="assets/images/aboutUs.png"> <br><br>
                  <div class="menu">
                    <ion-toolbar>
                      <ion-buttons slot="start"> 
                        <ion-button>
                        <ion-icon name="headset-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-title  style="font-size: small;">Student Life</ion-title>
                    </ion-toolbar>
                </div>
                 </button>

                  <button href="#home">
                    <img src="assets/images/nearbyRestaurants1.png"> 
                    <br><br>
                    <div class="menu">
                    <ion-toolbar>
                      <ion-buttons slot="start"> 
                        <ion-button>
                          <ion-icon name="home"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-title  style="font-size: small;">About Us</ion-title>
                    </ion-toolbar>
                  </div>
                  </button>

                    <button (click)="clickEvents()">
                      <img src="assets/images/nearbyActivity1.png"> <br><br>
                      <div class="menu">
                        <ion-toolbar>
                          <ion-buttons slot="start"> 
                            <ion-button>
                            <ion-icon name="calendar-outline"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                          <ion-title  style="font-size: small;">Events</ion-title>
                        </ion-toolbar>
                    </div>
                     </button>

                      <button (click)="clickEventsGallery()">
                        <img src="assets/images/eventshappening.jpg"> 
                        <br><br>
                        <div class="menu">
                        <ion-toolbar>
                          <ion-buttons slot="start"> 
                            <ion-button>
                              <ion-icon name="images-outline"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                          <ion-title  style="font-size: small;">Photo Gallery</ion-title>
                        </ion-toolbar>
                      </div>
                      </button>

                          <button (click)="clickNews()">
                            <img src="assets/images/contact.jpg"> <br><br>
                            <div class="menu">
                              <ion-toolbar>
                                <ion-buttons slot="start"> 
                                  <ion-button>
                                  <ion-icon name="newspaper-outline"></ion-icon>
                                  </ion-button>
                                </ion-buttons>
                                <ion-title  style="font-size: small;">News</ion-title>
                              </ion-toolbar>
                          </div>
                           </button>
                           
                            <button (click)="clickExploreNearby()">
                              <img src="assets/images/contact.jpg"> 
                              <br><br>
                              <div class="menu">
                              <ion-toolbar>
                                <ion-buttons slot="start"> 
                                  <ion-button>
                                    <ion-icon name="walk-outline"></ion-icon>
                                  </ion-button>
                                </ion-buttons>
                                <ion-title  style="font-size: small;">Explore Nearby</ion-title>
                              </ion-toolbar>
                              </div>
                            </button>
                
    </div>
      </div></div>
