div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu button {
  display: inline-block;
  color: rgb(102, 97, 97);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
}

div.scrollmenu button:hover {
  background-color: whitesmoke;
  animation: tapAnimation 0.5s cubic-bezier(0.31, 1, 0.34,1) forwards; ;

}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: whitesmoke;
  animation: tapAnimation 0.5s cubic-bezier(0.31, 1, 0.34,1) forwards; ;

}
@keyframes tapAnimation {
  0% {
      opacity: 1;
      transform: scale(0.96); 
  }
  100% {
      opacity: 1;
      background: rgba(0,0,0,0.05);
      transform: scale(1);
  }
}
img{
  width:150px;
  height: 150px;
  border-radius: 20px;
}

.parent {
  width: 100%;
 height:240px;
  // border: 1px solid #AAA;
  overflow: hidden;
  background-color: whitesmoke;
}

.child {
  width: 100%;
  margin-right: -50px; /* Maximum width of scrollbar */
  padding-right: 120px; /* Maximum width of scrollbar */
  padding-left: 120px;
  overflow-x: scroll;
  border-radius: 60px;

}
.main{
  height: 50px;
  width: auto;
  background-color: yellow ;
}
.menu{
  border-style: solid none none none;
  border-color: whitesmoke;
}
p{
  font-family: Sans-serif;
    text-transform: uppercase;
}
ion-icon ion-title{
  border-spacing: 0px;
}

ion-title{
  font-size: small;
}