<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Director/Founder
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>
<p><img src="assets/images/aboutUS.jpg" alt="Director" style="width:270px;height:270px;margin-right:15px;">
<ion-label> <h1>News Name</h1></ion-label><br>
<ion-label>Message this is is that this thatMessage this is is that this thatMessage this is is that this thatMessage this is is that this that
  Message this is is that this that
  Message this is is that this that
  Message this is is that this thatMessage this is is that this thatMessage this is is that this that
  Message this is is that this that
</ion-label><br>
<ion-label>Published On:</ion-label>

</p>