<ion-header>
 <app-header-guest></app-header-guest>
 </ion-header>
 
 <ion-content><div class="mainmain">
  <div class="ion-content">
  <br>
  <app-guest-menu-details></app-guest-menu-details>
  <br>
  <br>
  <ion-label class="custom-label"> Scholarship Details </ion-label>
  <br>
  <br>
<div class="content">
  <ion-fab vertical="center" horizontal="start" slot="fixed" [routerLink]="['/fee-structure-guest']">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img src="assets/images/aboutUS.jpg" alt="Paris" class="center">
  <br>
  <ion-label>
    <div class="information">
    (*Scholarship is only provided when certain criteria is met)
  </div>
  </ion-label>
</div>
</div><br></div>
</ion-content>
