<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start" style="color: white;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title style="color: white;text-align: center;">
        Guest Lectures
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="horizontal-cards">

      <ion-card color="light" button="true" (click)="onClick(guest)" *ngFor="let guest of guests">    
        <img [src]="guest.image"> 
        <ion-card-header>
          <ion-card-title>{{guest.title}}</ion-card-title>
          <ion-card-subtitle>Name: {{guest.guest_name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Date: {{guest.datetime | date:'longDate'}}
        </ion-card-content>
      </ion-card>
    
    </div>

    <div class="sticky" (click)="clickAllGuestLectures()">
      See all Guest lectures <ion-icon> arrow</ion-icon>
     </div>
  </ion-content>