<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Nearby Banks
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Bank Name</mat-label>
    <input matInput placeholder="Ex. Asia Bank">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Branch</mat-label>
    <input matInput placeholder="Ex. Ktm Branch">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Ex. Baneshwor">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Offer</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Detailed Information</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  </div>
  <br>
  <div class="a">
    <button mat-raised-button color="primary">ADD</button>
</div>

