<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  *ngIf="!editData" > Add ECA
    </ion-title>
    <ion-title  *ngIf="editData" > Edit ECA
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>ECA Name</mat-label>
    <input matInput placeholder="Ex. Dance Class" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Incharge</mat-label>
    <mat-select [(ngModel)]="data.incharge">
      <mat-option *ngFor="let faculty of faculties" [value]="faculty.id">{{faculty.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Detailed Information</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  </div>
  <br>
  <div class="a">
    <button mat-raised-button color="primary" *ngIf="!editData" (click)="onCreate()">ADD</button>
    <button mat-raised-button color="primary" *ngIf="editData" (click)="onEdit()">EDIT</button>
</div>

  
