<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Faculty Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<div>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input placeholder="Ex. Prof., Dr. ..." [(ngModel)]="data.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Qualification</ion-label>
    <ion-textarea placeholder="Qualificaition/Resume" [(ngModel)]="data.qualification"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="data.type_">
        <ion-list-header>
          <ion-label position="stacked">Type:</ion-label>
        </ion-list-header>  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Academic</ion-label>
              <ion-radio slot="start" value="Teaching"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Administrative</ion-label>
              <ion-radio slot="start" value="Administrative"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Staff</ion-label>
              <ion-radio slot="start" value="Staff"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Research</ion-label>
              <ion-radio slot="start" value="Research"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>
  </ion-item>


  <ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="departmentfaculty.department_id">
        <ion-list-header>Department</ion-list-header>
        <ion-item *ngFor="let department of departments">
          <ion-label>{{department.name}}</ion-label>
          <ion-radio slot="start" [value]="department.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

  </ion-item>



  <ion-button *ngIf="!editData" (click)="onCreate()">Add Faculty</ion-button>
  <ion-button *ngIf="editData" (click)="onEdit()">Edit Faculty</ion-button>

</div>