.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
.note{
    margin-right: 60px;
    margin-left: 60px;
}
.note1{
    margin-right: 60px;
    margin-left: 60px;
}

ion-label .note{
    font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: #919899;
}
ion-label .note1 {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: red;
}