<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;text-align: center;"> Lecture Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content *ngIf="datas">
  <ion-label>
    <div class="note1">
    Note: Lecture Schedule is subject to change without prior notice. Stay Updated!!
  </div>
  </ion-label>
  <div *ngFor="let data of datas">
  <br>
  <img [src]="data.image" alt="Lecture Schedule" class="center">
  <ion-label>Lecture Schedule for level: {{data.level}}</ion-label>
  <br>
  </div>

  <ion-label>
    <div class="note">
    *Please contact Unit Leader for more details.
  </div>
  </ion-label><br><br>
</ion-content>



