<ion-header>
 <app-guest-menu-details></app-guest-menu-details>
 <div style="width:100%; height:40px;background-image: linear-gradient(to right, black , white);text-align: center;">
  <h2 style="color: white;">About University</h2>
 </div>
</ion-header>
<br>
<ion-content>
  <p><img src="assets/images/aboutUS.jpg" alt="University" style="width:370px;height:370px;margin-right:15px;margin-left:20px;">
    <ion-label>Ingredients: dough with yeast with pizza sauce with olvies with capsicum with <br>
      onion with mozerella cheese. YUMMY</ion-label>
    </p>
</ion-content>