<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Admission Info 
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter Info Name</mat-label>
    <input matInput #input placeholder="Ex. Hello Information">
  </mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Detailed Information</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

</div>

<div class="example-button-row">
  <button mat-raised-button color="primary">ADD</button>
</div>
