<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Admission Information
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div>

  <ion-item>
    <ion-label position="stacked">Admission Info Title</ion-label>
    <ion-input placeholder="Ex. Words from chiarman" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description/Text</ion-label>
    <ion-textarea placeholder="Description" [(ngModel)]="data.description"></ion-textarea>
  </ion-item>


  <ion-button (click)="onCreate()">Add Admission Information</ion-button>
</div>
