<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Places to Explore Nearby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="split left" (click)="nearbyRestaurant()">
  <div class="centered">
    <img src="assets/images/nearbyRestaurants.png" alt="Restaurant">
    <h2>Explore Nearby</h2>
    <p>RESTAURANTS</p>
  </div>
</div>

<div class="split centera" (click)="nearbyBank()">
  <div class="centered">
    <img src="assets/images/nearbyBanks.png" alt="Bank">
    <h2>Explore Nearby</h2>
    <p>BANKS</p>
  </div>
</div>

<div class="split centerb" (click)="nearbyActivity()">
  <div class="centered">
    <img src="assets/images/nearbyActivity.png" alt="Activity">
    <h2>Explore Nearby</h2>
    <p>ACTIVITIES</p>
  </div>
</div>

<div class="split right" (click)="eventGallery()">
  <div class="centered">
    <video width="110" height="100" autoplay loop>
      <source src="assets/images/videoArrow.mp4" type="video/mp4">
    </video>   
    <h2>Click to Explore</h2>
    <p>EVENTS GALLERY</p>
  </div>
</div>
</ion-content>
