ion-content.background{
    --background: url(/assets/images/exploreBack.png) 0 0/100% 100% no-repeat;
}

.split {
    height: 50%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 310px;
  }
  
  .left {
    left: 0;
    background-color: #ffeab8;
    transition: transform .2s;
    opacity: 0.7;
    border-radius: 30px;
    margin-left:20px;
  }
  .left:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  .centera {
    left: 25%;
    background-color: #ffeab8;
    transition: transform .2s;
    opacity: 0.7;
    border-radius: 30px;
    margin-left:20px;
  }
  .centera:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  .centerb {
    right: 25%;
    background-color: #ffeab8;
    transition: transform .2s;
    opacity: 0.7;
    border-radius: 30px;
    margin-left:20px;
    margin-right: 20px;
  }
  .centerb:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  .right {
    right: 0;
    background-color: #ffeab8;
    transition: transform .2s;
    opacity: 0.7;
    border-radius: 30px;
    margin-left:20px;
    margin-right: 20px;
  }
  .right:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .centered button {
    background-color:#a6deae;
    border:0px;
    
    }