ion-content.background{
    --background: url(/assets/images/exploreBack.png) 0 0/100% 100% no-repeat;
}

.split {
    height: 50%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 330px;
  }
  
  .left {
    left: 0;
    background-color: white;
  }
  
  .centera {
    left: 25%;
    background-color: white;
  }
  
  .centerb {
    right: 25%;
    background-color: white;
  }
  
  .right {
    right: 0;
    background-color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .centered button {
    background-color:white;
    border:0px;
    
    }