<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;text-align: center;"> Online Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment>
          <ion-segment-button value="exrtaBooks">
            <ion-icon name="copy" color="Light"></ion-icon>
            <ion-label> Extra Books</ion-label>
          </ion-segment-button>
          <ion-segment-button value="proquest">
            <ion-icon name="laptop" color="Light"></ion-icon>
            <ion-label>Proquest</ion-label>
          </ion-segment-button>
          <ion-segment-button value="universityMaterials">
            <ion-icon name="information-circle-outline" color="black" ></ion-icon>
            <ion-label>University Support Materials</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
<br>
<ion-content>
  <ion-content>
    <div class="horizontal-cards">
      <ion-label> <h1 style="color: #FF700A;font-style: italic;">Happy Learning!!</h1></ion-label>
      <ion-card *ngFor="let service of services" (click)="clicksosDetails(service)" > 
        <img [src]="service.image">   
        <ion-card-header>
          <ion-card-title>{{service.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <br>
    </div>
    <div class="label">
      <ion-label>Note: Please contact admin if any material portal is not working.</ion-label>
    </div>
  </ion-content>
</ion-content>