body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: hidden;
    
}
  
  .left {
    left:0px;

    width: 65%;
    height: 100%;
    background-color: white;
  }
  
  .right {
    right: 60px;
    background-color: white;
    height: 95%;
    
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 20% !important;
    margin: 0 !important;
  }

  .ion-card-content{
      text-size-adjust: 10px;
  }

  .img {
      object-fit: none;
  }