<ion-fab vertical="start" horizontal="start" slot="fixed" [routerLink]="['/guest-home']">
  <ion-fab-button>
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content padding style="--background: url(/assets/images/exploreBack.png) 0 0/100% 100% no-repeat;">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-title style="text-align: end; color: white;" [routerLink]="['/guest-menu']">
        PCPS College
      </ion-title>
    </ion-toolbar>
  </ion-header>
<div class="login">
       <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input name="Username" [(ngModel)]="postData.identification"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
    
      <ion-list>
        <ion-radio-group [(ngModel)]="userType">
          <ion-list-header>
            <ion-label>Are you a:</ion-label>
          </ion-list-header>  
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Student</ion-label>
                <ion-radio slot="start" value="student" checked></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Admin</ion-label>
                <ion-radio slot="start" value="admin"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-list>
    
      <ion-button expand="block" class="custom-button" (click)="login()">Sign In</ion-button>
    
      <ion-button class="white" expand="full" fill="outline" color="light" [routerLink]="['/guest-home']">
        <ion-text color="primary"> Log in as a guest
        </ion-text>
      </ion-button>

    </ion-card-content>
  </ion-card> 
</div>
</ion-content>