  ion-card{
    width: 30% !important;
    height: 70% !important;
    display:block;
    margin: 0 auto;  }

ion-card-content{
      text-size-adjust: 10px;
  }
.login{
  margin-top:100px;
}
.custom-toolbar{
  opacity: 0.5;
}
ion-button{
  display:block;
}