@mixin screen($breakpoint){
    @if map-has-key($breakpoints,$breakpoint) {
        @media (max-width: map-get ($breakpoints, $breakpoint)){
            @content;
        }
    }
    @else {
        @warn "Unfortunately, `#{$breakpoint}` cannot be found."
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}