.child-events{
    --ion-item-background: #f3f2f1;
    --padding-start: 8px;
    --inner-padding-end: 8px;
    margin-bottom: 2px;
}

.button{
    --color-activated: #c0c0c0;
    
        background-color: #4CAF50;
        text-decoration: #f3f2f1;
}