<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Guest Lectures
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="guest" style="overflow-y: scroll; height: 500px;">

  <img [src]="guest.image" style="width:70%">
  <h1>{{guest.title}}</h1>
  <h2><strong>Guest: </strong>{{guest.guest_name}}</h2>
  <h3><strong>Subject: </strong>{{guest.subject}}</h3>
  <h3><strong>Date: </strong>{{guest.datetime | date: 'longDate'}}</h3>
  <h3><strong>Description: </strong>{{guest.description}}</h3>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <img [src]="guest.club.image" width="100">
        </ion-col>
        <ion-col>
          <strong>Organized by: </strong>{{guest.club.name}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  
</div>
