<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Guest Lectures
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="w3-col l8 s12" >
  <div class="w3-card-4 w3-margin w3-white">
    <img src="assets/images/aboutUS.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Lecture HEADING</b></h3>
      <h5>Venue<span class="w3-opacity">Date</span></h5>
    </div>
    <div class="w3-container">
      <p>Lecture Details</p>
    </div>
  </div>
</div>