<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Department Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<div>
<ion-item>
  <ion-label position="stacked">Department Name</ion-label>
  <ion-input placeholder="Name of the Department" [(ngModel)]="data.name"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Description/Text</ion-label>
  <ion-textarea placeholder="About Department" [(ngModel)]="data.description"></ion-textarea>
</ion-item>


<ion-button *ngIf="!editData" (click)="onCreate()">Add Department</ion-button>
<ion-button *ngIf="editData" (click)="onEdit()">Edit Department</ion-button>

</div>