<ion-header>
	<ion-toolbar class="custom-toolbar">
	  <ion-buttons slot="end" style="color: white;">
		<ion-button (click)="clickLogin()">
			<ion-icon name="person-circle-outline"></ion-icon>
		</ion-button>
	  </ion-buttons>
	  <ion-title style="color: white;text-align: center;">#Learn2Lead</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content padding class="background">
	<div class="splita left" (click)="clickAboutUs()">
		<div class="centered">
		  <img src="assets/images/nearbyRestaurants.png" alt="Restaurant">
		  <h2>About</h2>
		  <p>Us</p>
		</div>
	  </div>
	  
	  <div class="splita centera" (click)="clickCourses()">
		<div class="centered">
		  <img src="assets/images/nearbybanks.png" alt="Bank">
		  <h2>Courses</h2>
		  <p>Admission Procedure</p>
		</div>
	  </div>
	  
	  <div class="splita centerb" (click)="clickFeeStructure()">
		<div class="centered">
		  <img src="assets/images/nearbyActivity.png" alt="Activity">
		  <h2>Fee Structure</h2>
		  <p>Scholarship</p>
		</div>
	  </div>
	  
	  <div class="splita right" (click)="clickStudentSupport()">
		<div class="centered">
		  <video width="95" height="85" autoplay loop style="border-radius: 80px;">
			<source src="assets/images/videoArrow.mp4" type="video/mp4">
		  </video>   
		  <h2>Student Life</h2>
		  <p>Alumni Stories</p>
		</div>
	  </div>
	<div class="split left" (click)="clickEvents()">
	<div class="centered">
	  <img src="assets/images/nearbyRestaurants.png" alt="Restaurant">
	  <h2>Events</h2>
	  <p>Clubs</p>
	</div>
  </div>
  
  <div class="split centera" (click)="clickImageGallery()">
	<div class="centered">
	  <img src="assets/images/nearbybanks.png" alt="Bank">
	  <h2>Gallery</h2>
	  <p>Latest Events Images</p>
	</div>
  </div>
  
  <div class="split centerb" (click)="clickNews()">
	<div class="centered">
	  <img src="assets/images/nearbyActivity.png" alt="Activity">
	  <h2>News</h2>
	  <p>Latest Stories</p>
	</div>
  </div>
  
  <div class="split right" (click)="clickNearbyExplore()">
	<div class="centered">
	  <video width="95" height="85" autoplay loop style="border-radius: 80px;">
		<source src="assets/images/videoArrow.mp4" type="video/mp4">
	  </video>   
	  <h2>Click to Explore</h2>
	  <p>Nearby Places</p>
	</div>
  </div>
  </ion-content>