<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Department Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="search-div">
  <button slot= "start" mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="departmentId">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Department ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="departmentAbout">
      <mat-header-cell *matHeaderCellDef mat-sort-header>About</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.about}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="departmentImage">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let element"><img [src]="element.image"><br>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="editImage">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Edit Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input type="file" (change)="onFileSelected($event, element.id)"><br>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="departmentFaculty">
      <mat-header-cell *matHeaderCellDef>Faculties</mat-header-cell>
      <mat-cell *matCellDef="let element"><ul><li *ngFor="let faculty of element.faculties">{{faculty.info.name}}</li></ul></mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

</div>

</ion-content>

