<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="eca">
     {{eca.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div *ngIf="eca" style="width:500px;">
  <ion-row>
    <ion-col>
      <img [src]="eca.image" style="width:170px;margin-right:15px;">
    </ion-col>
    <ion-col>
      <ion-label><h1><strong>{{eca.name}}</strong></h1></ion-label>
      <p><strong>Description: </strong>{{eca.description}}</p><br>
    </ion-col>
  </ion-row>
<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col>
        <img style="height:70px;" [src]="eca.incharge.image">
      </ion-col>
      <ion-col>
        <ion-card-title><strong>ECA Incharge: </strong>{{eca.incharge.name}}</ion-card-title>
      </ion-col>
    </ion-row>
  </ion-card-header>
</ion-card>
</div>
