<div *ngIf="clubDetail" class="box">
  <div class="images">
    <img src="assets/images/aboutUS.jpg" style="float: left;">
  </div>
  <div class="description">
  <ion-label>
    Name: {{clubDetail.name}} <br>
    Desription: {{clubDetail.description}}<br>
    President: {{clubDetail.president.name}}<br>
    Vice President: {{clubDetail.vice_president.name}} <br> 
  </ion-label>

  <ion-list>
    <ion-item *ngFor="let event of clubDetail.events" color="light" button="true" (click)="viewEvent()">
      <ion-label>
        {{event.name}}
      </ion-label>
      <ion-label>
        {{event.event_from}}
      </ion-label>
      <ion-label>
        {{event.event_to}}
      </ion-label>
      <ion-label>
        {{event.event_no_of_seats}}
      </ion-label>
    </ion-item>
  </ion-list>
  </div>
</div>
