<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" style="color: white;">
      <ion-button  [routerLink]="['/guest-menu']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-style: italic;color: white;text-align: center;">
      PCPS Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-dashboard></app-dashboard>
</ion-content>
