<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Major Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Software System">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Entry Criteria</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Head</mat-label>
    <input matInput placeholder="Ex. Mr. Rami Pal">
  </mat-form-field>
  </div>
  <br>
  <div class="a">
    <button mat-raised-button color="primary">ADD</button>
</div>
