<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Major Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<div>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Qualification</ion-label>
    <ion-textarea placeholder="Criteria for Entry/Application" [(ngModel)]="data.qualification"></ion-textarea>
  </ion-item>


  <ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="data.head">
        <ion-list-header>Major Head</ion-list-header>
        <ion-item *ngFor="let faculty of faculties">
          <ion-label>{{faculty.name}}</ion-label>
          <ion-radio slot="start" [value]="faculty.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

  </ion-item>



  <ion-button (click)="onCreate()">Add Major</ion-button>

</div>