.horizontal-cards {
    ion-card {
        display: inline-block;
        width: 265px;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 27px;
        margin-bottom: 20px;

    }
}