<ion-header>
  <app-guest-menu-details></app-guest-menu-details>
  <div style="width:100%; height:40px;background-image: linear-gradient(to right, black , white);text-align: center;">
   <h2 style="color: white;">Intake Calender</h2>
  </div>
 </ion-header>
 <br>
<ion-content>
  <ion-content>
    <div class="horizontal-cards">
      <ion-label> <h1>PCPS provides these intakes.</h1></ion-label>
      <ion-card>    
        <ion-card-header>
          <ion-card-title><h1>January Intake</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
      <ion-card>    
        <ion-card-header>
          <ion-card-title><h1>January Intake</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card>
      <ion-card>    
        <ion-card-header>
          <ion-card-title><h1>January Intake</h1></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-label>Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
            Sept already apply.. meet requirement
          </ion-label><br>
        </ion-card-subtitle>
      </ion-card><br> <br> <br>
      <ion-label>* For International Students, you must apply 2 months in advance to process Application, Student Pass (visa if required) and other accommodation arrangements.</ion-label>
    </div>
  </ion-content>
</ion-content>
