<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Book Reservation
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<div class="container">
  <mat-form-field  appearance="fill" >
    <mat-label>Book ID</mat-label>
    <input matInput  #input 
    maxlength="10"  
    placeholder="Ex. 327" 
    type="number"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  
    (keypress)="numericOnly($event)">
  </mat-form-field>
    <mat-form-field align="start" hintLabel="Max 10 numbers" appearance="fill" >
      <mat-label>Student ID</mat-label>
      <input matInput  #inputb
      maxlength="10"  
      placeholder="Ex. 1814310" 
      type="number"
      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  
      (keypress)="numericOnly($event)">
      <mat-hint align="end">{{inputb.value?.length || 0}}/3</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <br>
      <mat-label>Returned Date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #pickera></mat-datepicker>
    </mat-form-field>
    </div>
    <br>
    <div class="a">
      <button mat-raised-button color="primary">ADD</button>
  </div>
